*{
    margin: 0;
    padding: 0;
    /* background-color: cornflowerblue; */
    background-color: #3f84cb;
    background-color: black;
}

.container {
    display: flex;
    gap: 15px;
    /* margin: 20px; */
    justify-content: flex-start;
    align-items: center;
    background-image: url(./images/photo-1515879218367-8466d910aaa4.jpeg);
    padding: 120px;
}

#me {
    border-radius: 25%;
    background-color: rgb(45, 42, 42);
}

.icons {
    height: 25px;
    width: auto;
    border-radius: 25%;
}
.top{
    display: flex;
    justify-content: center;
}
.organize{
    padding: 20px;
    display: block;
    width: auto;
    height: 250px;
    border-radius: 10px;
    background-color: rgb(45, 42, 42);
    
}
.icon-container{
    display: block;
    padding: 10px;
    padding-left: 0px;
    gap: 3px;
    margin-top: 6px;
    background-color: transparent;
    
}
.icon-container a {
    background-color: rgb(45, 42, 42);
}
.item3icon{
    order: -1;
    
}
.meSection{
    background-color: rgb(45, 42, 42);
    display: block;
    
}
.about{
    display: flex;
    text-align: center;
    height: 200px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    justify-content: center;
    /* margin-top: 50px; */
    background-color: #36454F;
}
.aboutCon{
    background-color: #36454F;
}
.innerAbout{
    height: 150px;
    width: 600px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    background-color: #36454F;
    border: 3px solid black;
    border-radius: 1%;
    color: white;
}
.title {
    background-color: #36454F;
    
}

.logos{
    height: 100px;
    width: auto;
}

.logoSection{
    display: flex;
    justify-content: center;
    margin-top: 65px;
    padding: 10px;
    margin-bottom: 150px;
    width: 700px;
    height: 300px;
    flex-wrap: wrap;
    gap: 120px;
    margin-left: auto;
    margin-right: auto;
    background-color: #36454F;
}

.skillsTitle{
    text-align: center;
    margin-bottom: 25px;
    font-size: 35px;
}

.contact {
    display: flex;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    margin-bottom: 100px;
}

#contactTitle{
    font-size: 35px;
    margin-bottom: 30px;
    color: white;
}
.meSection h1,p {
    color: white;
    background-color: rgb(45, 42, 42);
}
div.organize{
    background-color: rgb(45, 42, 42);
}
form {
    display: flex;
    height: 250px;
    width: 800px;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.heads {
    display: flex;
    gap: 20px;
    padding: 10px;
    list-style: none;
    font-size: 20px;
    text-align: center;
    align-items: center;
}
a {
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: black;
    
}

.heads a {
    background-color: black;
    color: white;
}

#navRight{
    margin-left: auto;
   padding-right: 50px;
    background-color: black;
    color: white;
}

#headerPic{
    height: 50px;
    width: auto;
    align-self: flex-end;
}
ul.heads{
    background-color: black;
}
.skillsTitle{
    color: white;
    background-color: #36454F;
    
}

.skillsContainer{
    background-color: #36454F;
    width: auto;
    height: 500px;
    padding: 50px;
}
.skillsBack{
    background-color: #36454F;
}

.logoSection img{
    background-color: #36454F;
}

#logo {
    background-color: rgb(102, 102, 202);
}